<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zombie Survivor - Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:replace="@{home}::bootstrap_css"></link>
    <link th:replace="@{home}::website_css"></link>
    <script th:replace="@{home}::jquery_js"></script>
    <script th:replace="@{home}::bootstrap_js"></script>
</head>
<body>
    <div class="container main-container">
        <div th:replace="@{home}::menu (menuitem='error')">
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
                </div>
                <div th:text="${message}">Fake content</div>
                <div>
                    Please contact the operator with the above information.
                </div>
            </div>
        </div>
    </div>
</body>
</html>