<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zombie Survivor - Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:substituteby="@{home}::bootstrap_css"></link>
    <link th:substituteby="@{home}::website_css"></link>
    <script th:substituteby="@{home}::jquery_js"></script>
    <script th:substituteby="@{home}::bootstrap_js"></script>
    <script type="application/javascript" th:src="@{/js/testrpc.js}"></script>
    <script type="application/javascript">
        $(function() {
            game.init();
        });
</script>
</head>
<body>
    <div class="container">
        <div th:substituteby="@{/home}::menu (menuitem='test')">
        </div>
        <row>
            <div class="col-md-4 col-md-offset-4">
                <p class="h1">Please try this button that will perform a rpc call</p>
                <input class="input_name_js" placeholder="enter your name here..."/>
                <button type="" class="testcall_rpc btn btn-primary">Perform RPC call</button>
                <p>You have clicked the button <strong class="number_clicked">0</strong> times</p>
                <p>The name you've entered is: <strong class="content"></strong></p>
            </div>
        </row>
    </div>
</body>
</html>