<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zombie Survivor - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:replace="@{home}::bootstrap_css"></link>
    <link th:replace="@{home}::website_css"></link>
    <script th:replace="@{home}::jquery_js"></script>
    <script th:replace="@{home}::bootstrap_js"></script>
    <script th:replace="@{home}::jquery_cookie_js"></script>
</head>
<body>
    <div class="container main-container">
        <div th:replace="@{home}::menu (menuitem='login')">
        </div>
        <div class="row">
            <div class="col-md-12">
            <div th:if="${param.error}" class="alert alert-error">Invalid Login/Password, please try again</div>
            <h2>Enter your Login and Password</h2>
            <form name="form" th:action="@{/login}" action="/login" method="POST">
                <input type="text" name="username" value="" placeholder="Login" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" id="login" value="Login"
                    class="btn btn-primary" />
            </form>
            <div><a th:href="@{create_user}">Create new account</a></div>
            </div>
        </div>
    </div>
</body>
</html>