<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zombie Survivor - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:substituteby="@{home}::bootstrap_css"></link>
    <link th:substituteby="@{home}::website_css"></link>
    <script th:substituteby="@{home}::jquery_js"></script>
    <script th:substituteby="@{home}::bootstrap_js"></script>
</head>
<body>
    <div class="container">
        <div th:substituteby="@{home}::menu (menuitem='login')">
        </div>
        <div class="row">
            <div class="col-md-12">
            <p th:if="${param.error}" class="alert alert-error">Invalid Login/Password, please try again</p>
            <h2>Enter your Login and Password</h2>
            <form name="form" th:action="@{/login}" action="/login" method="POST">
                <fieldset>
                    <input type="text" name="username" value="" placeholder="Login" />
                    <input type="password" name="password" placeholder="Password" />
                </fieldset>
                <input type="submit" id="login" value="Login"
                    class="btn btn-primary" />
            </form>
            </div>
        </div>
    </div>
</body>
</html>